.header-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 16px;
  padding: 8px 16px;
}

input {
  border: none;
  padding: 8px 8px;
  width: 100%;
}

.icon {
  margin-right: 16px;
}

.icon, .search {
  color: black;
  height: 16px;
  width: 16px;
}