.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  height: 60px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}




.user-section {
  display: flex;
  align-items: center;
}

.welcome-section {
  display: flex;
  align-items: center;
}

.welcome-message h3 {
  margin-right: 10px;
}

.user-icon {
  cursor: pointer;
  margin-left: 60em;
}

.user-options-list {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 10px 0;
  border-radius: 4px;
}

.user-options-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-options-list ul li {
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.user-options-list ul li:hover {
  background-color: #f0f0f0;
}