.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.search-container {
  display: flex;
  align-items: center;

}

.search-container input {
  margin-left: 10px;
  padding: 5px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.header-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #2e7a31;
}

